<p>
  <%= post.user.name %>
</p>
<p>
  <%= post.text %>
</p>

<p>
  <strong>Tags:</strong>
  <% post.tags.each do |tag| %>
      <%= link_to "##{tag.name}", posts_path(tag: tag.id) %>
  <% end %>
</p>

<%= link_to t('destroy'), post, method: :delete, data: { confirm: t('confirm') } %>