<% { error: 'error', notice: 'success'}.each do |k, v| %>
    <% if flash[k] %>
        <div class="alert alert-<%= v %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <div id="flash_<%= k %>">
            <%= flash[k] %>
          </div>
        </div>
    <% end %>
<% end %>